@model e.VOC.us.Game.Lobby

@{
    ViewBag.Title = "Creat New Game";
}

<div class="home">
    <div class="logoSmall">
        <img src="~/Assets/logo_small.png" />
    </div>

    <div class="hostedGames">

        <h2>@Model.Name</h2>
        <!--<h4>@Model.Id</h4>-->
        <div id="gameId" gameId="@Model.Id"></div>

        <table class="slotList">
            <thead>
                <tr>
                    <th>Team</th>
                    <th>Name</th>
                    <th>Switch</th>
                    <th>Ready</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: slots">
                <tr>
                    <td data-bind="text: Team"></td>
                    <td data-bind="text: LobbyPlayer !== null ? LobbyPlayer.Name : ''"></td>
                    <td><button data-bind="click: $parent.switchToSlot">Switch</button></td>
                    <td data-bind="text: LobbyPlayer !== null ? LobbyPlayer.Ready ? 'Ready' : 'Not ready' : ''"></td>
                </tr>
                
            </tbody>
        </table>
        <br/>
        <button data-bind="click: ready">Ready</button>

        <div class="chat">
            <h3>Lets chat!</h3>
            <input class="nameInput" id="sendMessage" type="text">
            <div id="chat" style="height: 100%;">

            </div>
        </div>

        </div>
</div>
@Html.ActionLink("game", "Game", "Home", new { id = Model.Id }, new { id = "gameLink", @style = "display:none" })


@section scripts
{
    @Scripts.Render("~/bundles/signalr")
    @* ReSharper disable once Html.PathError *@
    <script src="~/signalr/hubs"></script>
    @Scripts.Render("~/bundles/knockout")
    <script src="~/Scripts/js/lobby.js"></script>
}